@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syne:wght@500&display=swap');

body {
  font-family: Syne;
  margin: 0px;
}

h1 {
  font-family: Climate Crisis;
}

.header {
  padding: 15px;
  text-align: center;
  background: #16131a;
  color: white;
  font-size: 30px;
}
