@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

@keyframes titleEffect {
from {
    opacity: 0.25;
    font-size: 6vw;
    letter-spacing: -.4em;
}
to {
    opacity: 1;
    font-size: 7vw;
    letter-spacing: 0em;
    }
}

body {
  font-family: DM Mono;
}

.title {
  font-size: 7vw;
}
